# Node
node_modules/
build/
frontend/node_modules/
frontend/build/

# Java / Spring Boot
target/
backend/target/

# Logs
*.log

# Database files
*.db
*.db.lock
*.trace
*.mv

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
